asn1crypto==0.24.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.8.0
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3

beautifulsoup4==4.8.1
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
datefinder==0.7.0
Django==2.2.10
Flask==1.1.1
get==2019.4.13
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
httplib2==0.14.0
idna==2.8
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
lxml==4.4.1
MarkupSafe==1.1.1
oauthlib==3.1.0
parso==0.5.1
pbr==5.4.3
post==2019.4.13
psycopg2==2.8.4
psycopg2-binary==2.8.4
public==2019.4.13
pyasn1==0.4.7
pyasn1-modules==0.2.7
python-dateutil==2.8.0
pytz==2019.3
query-string==2019.4.13
regex==2019.8.19
request==2019.4.13
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
stevedore==1.31.0
uritemplate==3.0.0
urllib3==1.25.6
uWSGI==2.0.18
virtualenv==16.7.7
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.16.0